@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url(./img/Strip-Patterns.png) no-repeat center, url(./img/Layer-2.png);
    background-size: cover;
    /* background-position: center; */
}

header {

}

main {

}

footer {

}
.animacao {
        /* width: 400px;
        height: 400px; */
        /* background-color: lightblue; */
        margin: 50px;
}